################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APLOS.Domain
/Aplos.Accounting
/APLOS
/Aplos.ViewModel
/Aplos.Service.Extension
/APLOS.Service
/Aplos.SchedulingServices
/Aplos.Planning
/Aplos.OrderManagement
/Aplos.MaterialManagement
/Aplos.HumanResource
/Aplos.General
/APLOS.EMP
