body {
    font-family: "Arial Narrow", "Arial", "sans-serif";
    -webkit-font-smoothing: antialiased;
}

#wizard-container ul li {
    display: inline;
}

    #wizard-container ul li a {
        display: block;
        font-size: 12px;
        font-family: 'open Sans';
        float: left;
        height: 40px;
        background: #242841;
        text-align: center;
        padding: .5px 1px 0 18px;
        position: relative;
        margin: 0 5px 0px 0;
        text-decoration: none;
        color: #fff;
        display: inline-block;
    }

        #wizard-container ul li a:after {
            content: "";
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #242841;
            position: absolute;
            right: -20px;
            top: 0;
            z-index: 1;
        }

        #wizard-container ul li a:before {
            content: "";
            position: absolute;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            border-left: 20px solid #FFFFFF;
            left: 0;
            top: 0;
        }

    #wizard-container ul li:first-child a:before {
        display: none;
    }

    #wizard-container ul li:first-child #tab:before {
        display: none;
    }

@media (max-width: 1024px) {
    #wizard-container ul li a {
        display: block;
        font-size: 9px;
        font-family: 'open Sans';
        float: left;
        height: 40px;
        width: 9%;
        background: #242841;
        text-align: center;
        padding: .5px 1px 0 18px;
        position: relative;
        margin: 0 5px 0px 0;
        text-decoration: none;
        color: #fff;
        display: inline-block;
    }
}



.chart-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    transform: translateY(-50%);
    width: 75%;
    text-align: center;
    font-size: 12px;
}

.chart-title-hrD {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 22%;
    transform: translateY(-50%);
    width: 75%;
    text-align: center;
    font-size: 12px;
}

.exceess {
    background-color: orangered;
}

.exceess-font {
    color: orangered;
}

.green {
    background-color: forestgreen;
    color: white !important;
    font-weight: bold;
}

.nSubmitted {
    color: orangered !important;
}

.Submitted {
    color: forestgreen !important;
}

.order {
    content: '\25b3';
    content: '\25BD';
}

.sortorder:after {
    content: '\25b3';
}

.sortorder.reverse:after {
    content: '\25BD';
}

#OAChart, #LoggedInchart, #NotLoggedInchart {
    margin-top: -24%;
    margin-bottom: -28%;
}

.hoverItem {
    background-color: transparent;
    cursor: pointer;
    text-decoration:underline;
}

    .hoverItem:hover {
        background-color: #3b8ee0;
        color: white !important;
    }

.hoverItemStat {
    background-color: transparent;
}

    .hoverItemStat:hover {
        font-size: 15px;
        color: white;
    }

.hoverItemUL {
    background-color: transparent;
}

    .hoverItemUL:hover {
        cursor: pointer;
        text-decoration: underline;
    }

#docbarChart {
    margin-top: 1%;
}

.selected {
    background-color: #c1c1c1 !important;
    color: white;
    font-weight: bold;
}

    .selected td {
        background-color: #c1c1c1 !important;
        color: white;
        font-weight: bold;
    }

.redFont {
    color: red;
    font-weight: bold;
    font-size: medium;
}

.greenFont {
    color: forestgreen;
    font-weight: bold;
    font-size: medium;
}

.some-class {
    background-color: cornflowerblue;
    color: white !important;
    font-weight: bold;
    font-size: medium;
}

.select:before {
    content: "\25be  or  \25bc  ?  ";
    float: right;
    color: gray;
}

.select:after {
    content: "";
    margin: 0 0.5em;
    display: inline-block;
    border: 7px solid transparent;
    border-top: 8px solid gray;
    border-bottom: 0 none;
}

.dth {
    padding: 2px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.dtd {
    height: 28px !important;
    padding: 3px 33px;
    font-size: 14px;
}

.doc_dashboardOAthead {
    background: linear-gradient(to right, #25c481, #25b7c4) !important;
}

.doc_dashboardpieTable {
    width: 112%;
    box-shadow: 1px 1px 1px 1px grey;
}

.doc_dashboardpieTableDiv {
    padding-top: 8%;
}

.doc_dashboardpieTableTD {
    padding-top: 11px !important;
    font-size: 13px;
}

.doc_dashboardpieTableTDR {
    padding-top: 11px !important;
    font-size: 13px;
    text-align: right;
}
/* Custom Dropdown */

.big {
    font-size: 1.2em;
}

.small {
    font-size: .7em;
}

.square {
    width: .7em;
    height: .7em;
    margin: .5em;
    display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 10px;
}

    .custom-dropdown select {
        background: linear-gradient(to right, #25c481, #25b7c4);
        background-color: blue;
        color: #fff;
        font-size: inherit;
        padding: .5em;
        padding-right: 2.5em;
        border: 0;
        margin: 0;
        border-radius: 3px;
        text-indent: 0.01px;
        text-overflow: '';
        -webkit-appearance: button; /* hide default arrow in chrome OSX */
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0;
    }

.popover {
    max-width: 600px;
}

.probToday {
    background-color: darkcyan;
    color: white !important;
}

.probn7day {
    background-color: green;
    color: white !important;
}

.probOVD {
    background-color: orangered;
    color: white !important;
}

.zeroEmmition {
    color: white !important;
}


.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #e0e0e0;
}

.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.compare {
    background-color: orangered;
    color: white !important;
}

.compareExpense {
    background-color: rgba(240, 52, 52, .6);
    color: white !important;
}

.compareRevenue {
    background-color: rgb(255, 159, 64);
    color: white !important;
}

#slct {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}
/* Custom Select */
.select {
    position: relative;
    display: block;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .0em;
}

#slct {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
}

    #slct::-ms-expand {
        display: none;
    }
/* Arrow */
.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 1em;
    background: #34495e;
    pointer-events: none;
}
/* Transition */
.select:hover::after {
    color: white;
}

.select::after {
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}

#wizard-containerMIS ul li {
    display: inline;
}

    #wizard-containerMIS ul li a {
        display: block;
        font-size: 12px;
        font-family: 'open Sans';
        float: left;
        height: 40px;
        background: #25b7c4;
        text-align: center;
        padding: .5px 9px 0 9px;
        position: relative;
        margin: 0 5px 0px 0;
        text-decoration: none;
        color: #fff;
        display: inline-block;
    }

        #wizard-containerMIS ul li a:after {
            content: "";
            position: absolute;
            right: -10px;
            top: 0;
            z-index: 1;
        }

        #wizard-containerMIS ul li a:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }

    #wizard-containerMIS ul li:first-child a:before {
        display: none;
    }

    #wizard-containerMIS ul li:first-child #tab:before {
        display: none;
    }

.onRole {
    background-color: darkcyan;
    color: white !important;
}

    .onRole:hover {
        background-color: #3b8ee0;
        color: white;
    }

.onRoleHeader {
    background-color: darkcyan;
    color: white !important;
}

.voucherLink {
    position: relative;
}

    .voucherLink:hover {
        text-decoration: underline;
        cursor: pointer;
    }

.misDBthead {
    background: whitesmoke !important;
    color: black !important;

}

.misDBtable {
    margin-bottom: 0 !important;
    border-top: 0px !important;
    border-right: 1px !important;
    border-bottom: 1px !important;
    border-left: 1px !important;
    position: relative;
}

.misDBtableMain {
    margin-bottom: 0 !important;
    border-top: 1px !important;
    position: relative;
}
    /*.misDBtableMain .table > thead > tr > th {
        line-height: 0.5px;
    }*/

#orgStrSelectBox {
    width: 100%;
    height: auto;
    /*border: 1px solid #c3c3c3;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    margin-left: 1.3%;
}

    /* Safari 6.1+ */
    #orgStrSelectBox div:nth-of-type(1) {
        -webkit-flex-grow: 1;
        width: 75%;
    }

    #orgStrSelectBox div:nth-of-type(2) {
        -webkit-flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(3) {
        -webkit-flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(4) {
        -webkit-flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(5) {
        -webkit-flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(6) {
        -webkit-flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(7) {
        -webkit-flex-grow: 1;
        width: 75%;
       
    }



    /* Standard syntax */
    #orgStrSelectBox div:nth-of-type(1) {
        flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(2) {
        flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(3) {
        flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(4) {
        flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(5) {
        flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(6) {
        flex-grow: 1;
        width: 75%;
        margin-right: -3.5%;
    }

    #orgStrSelectBox div:nth-of-type(7) {
        flex-grow: 1;
        width: 75%;
     }

#RPerson {
    width: 100%;
    height: auto;
    /*border: 1px solid #c3c3c3;*/
    display: -webkit-flex; /* Safari */
    display: flex;
    margin-left: -2%;
}
    #RPerson div:nth-of-type(1) {
        -webkit-flex-grow: 1;
        width: 75%;
        margin-right: 2.5%;
    }

    #RPerson div:nth-of-type(2) {
        -webkit-flex-grow: 1;
        width: 75%;

    }
    #RPerson div:nth-of-type(1) {
        flex-grow: 1;
        width: 75%;
        margin-right: 2.5%;
    }

    #RPerson div:nth-of-type(2) {
        flex-grow: 1;
        width: 75%;
    }
.input-style{
    height:26px !important;
}