<div class="form-group" show-errors>
    <label class="col-sm-4 control-label">Customer<sup>*</sup></label>
    <div class="col-sm-8 show-message">
        <div class="input-group">
            <input type="text" name="Customer" ng-model="modelNew.CustomerName" class="form-control" readonly required>
            <span class="input-group-btn">
                <button ng-click="ShowCustomerPopUpNew();" ng-disabled="SelectedSalesOrderList.length>0" class="btn single-small-btn" tabindex="14"><i class="glyphicon glyphicon-search"></i></button>
                <button name="submit" ng-click="invoicingPartyPopUp()" class="btn single-small-btn"><i class="cr-icon glyphicon glyphicon-list-alt"></i></button>
            </span>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-8 input-group" style="padding-left: 15px;padding-right: 14px;">
        <span class="input-group-addon">{{x.EmployeeId}}</span>
        <input type="text" ng-model="x.EmployeeName" class="form-control" readonly>
        <span class="input-group-btn">
            <button ng-click="popUp('EmployeeInfo',$index)" class="btn single-small-btn"><i class="glyphicon glyphicon-search"></i></button>
            <button ng-click="clearEmployeeInfo()" class="btn single-small-btn"><i class="glyphicon glyphicon-refresh"></i></button>
        </span>
    </div>
</div>

<!-- #region modal tbl -->
<modal-table modalid="popUpId"
             data-title={{popUpTitle}}
             data-search-parameters="popUpParameters"
             data-exclued-column-list="Code"
             data-field-list="popUpList"
             data-data-list="popUpDataList"
             data-search-function="getPopUpData"
             data-single-click="selectSingleClick(data)"
             data-double-click="selectDoubleClick(data)"
             data-left-button="true"
             data-right-button="true"
             data-ng-click-left-button="selectByButton()"
             data-ng-click-cancel="closePopUp()">
</modal-table>

<confirm-archive-generic modalid="confirmDelPopUp" title="Confirmation" message={{message_confirmation}} data-ng-click-right-button="removeRow()"></confirm-archive-generic>
<!-- #endregion -->
<!--ng-show="{{hh.Value!='Flag'}}"-->
<!-- #region Header Tab -->
<div class="site-tab">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{ active: isSet(1) }"><a ng-click="setTab(1)" href="" data-toggle="tab">General Voucher</a></li>
        <li role="presentation" ng-class="{ active: isSet(2) }"><a ng-click="setTab(2)" href="" data-toggle="tab">Parallel Currency</a></li>
    </ul>
</div>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane fade" ng-class="{ 'in':isSet(1), active: isSet(1) }">
        <div class="row" ng-form name="materialMasterFormTab1">
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region Side Tab -->
<div class="col-xs-2 site-tab">
    <ul class="nav nav-tabs tabs-left" role="tablist">
        <li role="presentation" ng-class="{ active: isSet(1) }"><a ng-click="setTab(1)" href="" data-toggle="tab">General</a></li>
        <li role="presentation" ng-class="{ active: isSet(2) }"><a ng-click="setTab(2)" href="" data-toggle="tab">Mail Tagging</a></li>
    </ul>
</div>
<div class="col-xs-10 divborder">
</div>
<div class="col-xs-10 tab-content">
    <div role="tabpanel" class="tab-pane fade" ng-class="{ 'in':isSet(1), active: isSet(1) }">
        <div class="row" ng-form name="tab1"></div>
    </div>
    <div role="tabpanel" class="tab-pane fade" ng-class="{ 'in':isSet(2), active: isSet(2) }">
        <div class="row" ng-form name="tab2"></div>
    </div>
</div>
<!-- #endregion -->
<tr dir-paginate="x in currencies|itemsPerPage:currencyParameters.pageSize" total-items="currencyParameters.total_count"
    pagination-id="metaData.name + 'currencies'">
    <td>
        <div class="checkbox-site">
            <label>
                <input type="checkbox" ng-model="x.Flag" ng-checked="x.Flag">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
    </td>
    <td ng-show="{{hh.Value!='Flag'}}" ng-repeat="hh in currencyList">{{x[hh.Value]}}</td>
</tr>
<!-- #region Table -->
<div class="modal fade site-modal in" id="popUpId" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" ng-form name="materialgridCharacteristicsForm">
            <div class="modal-header"> {{popUpTitle}} <button type="button" class="close" data-dismiss="modal">&times;</button> </div>
            <div class="modal-body">
                <div class="row text-right">
                    <div class="col-xs-12 col-sm-12 col-sm-12">
                        <div class="search-form">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3 col-md-3">
                                    <div class="select-style">
                                        <select ng-model="popUpParameters.searchBy">
                                            <option ng-repeat="option in popUpList" value="{{option.Value}}">{{option.Text}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 col-md-7">
                                    <input type="text" class="form-control" placeholder="Search" ng-model="popUpParameters.search">
                                </div>
                                <div class="col-xs-12 col-sm-2 col-md-2">
                                    <button type="button" ng-click="getPopUpData()" class="btn"><i class="glyphicon glyphicon-search"></i> Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive modal-table">
                    <table class="table table-striped">
                        <thead>
                            <tr><th ng-repeat="x in popUpList" ng-show="{{x.Value!='Archive'}}">{{x.Text}}</th></tr>
                        </thead>
                        <tbody>
                            <tr dir-paginate="x in popUpDataList|itemsPerPage:popUpParameters.pageSize" total-items="popUpParameters.total_count"
                                pagination-id="metaData.name + 'popUpDataList'" ng-click="selectSingleClick(data)" ng-dblclick="selectDoubleClick(data)">
                                <td ng-repeat="hh in popUpList">{{x[hh.Value]}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <dir-pagination-controls max-size="10"
                                             pagination-id="metaData.name + 'popUpDataList'"
                                             direction-links="true"
                                             boundary-links="true"
                                             on-page-change="getPopUpData(newPageNumber)">
                    </dir-pagination-controls>
                </div>
                <div class="common-btn">
                    <ul class="list-inline text-right">
                        <li> <button ng-click="selectByButton()" class="btn">Select</button></li>
                        <li> <button ng-click="closePopUp()" class="btn">Cancel</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region int -->
<input type="text" n-decimals="3" name="Capacity Value" required ng-model="mastermodal.Capacity| number| setDecimal:8" class="form-control" tabindex="10">
<!--<td class="text-right"><strong>{{inventoryMaterialList | sumByKey : 'TransactionRate'| number| setDecimal:8  }}</strong></td>-->
<input type="text" only-numbers name="Capacity" required ng-model="mastermodal.PlanEfficiency" class="form-control" tabindex="11">
<!-- #endregion -->
<div class="col-xs-12 col-sm-6 col-md-6">
    <div class="form-group" ng-repeat="x in entities" ng-if="$index % 2 != 0">
        <label class="col-sm-4 control-label">{{x.Text}}</label>
        <div class="col-sm-8" ng-repeat="y in entityValue">
            <label class="col-sm-8 control-label"><b>{{y[x.Value]}}</b></label>
        </div>
    </div>
</div>
<th ng-repeat="x in entites" ng-show="{{x.Value!='Archive'}}">{{x.Text}}</th>
<td ng-repeat="hh in entites" ng-show="{{hh.Value!='Archive'}}">{{x[hh.Value]}}</td>
<div class="form-group">
    <label class="col-sm-4 control-label">RO Budget Code</label>
    <div class="col-sm-5 pdr3" style="Width:260px;">
        <input type="text" ng-model="manPowerbudgetmasterNew.ROBudgetName" class="form-control" disabled>
    </div>
    <div class="pdl3">
        <button name="submit" class="btn single-small-btn" ng-click="employeeProfilePopUp('ROBudgetCode','ROBudgetName')" tabindex="14"><i class="cr-icon glyphicon glyphicon-search"></i></button>
        <button class="btn single-small-btn" ng-click="employeeProfileClear('ROBudgetCode','ROBudgetName')">
            <i class="cr-icon glyphicon glyphicon-remove"></i>
        </button>
    </div>
</div>
<fieldset class="scheduler-border">
    <legend class="scheduler-border">Bank Information</legend>
    <div class="form-group">
        <label class="col-sm-3 control-label">Bank</label>
        <label class="col-sm-7 control-label">: <b>{{bankReconciliationNew.BnakName}}</b></label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Branch</label>
        <label class="col-sm-7 control-label">: {{bankReconciliationNew.BankBranch}}</label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Account</label>
        <label class="col-sm-7 control-label">: {{bankReconciliationNew.BankAccount}}</label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Bank GL</label>
        <label class="col-sm-7 control-label">: {{bankReconciliationNew.BankGL}}</label>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">Bank Currency</label>
        <label class="col-sm-7 control-label">: {{bankReconciliationNew.BankCurrency}}</label>
    </div>
</fieldset>
<h3 class="site-heading" style="cursor:unset;"><span class="glyphicon glyphicon-info-sign"></span> Print cash check</h3>
<!-- #region input group -->
<div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Sales Org">
        <span class="input-group-btn">
            <button ng-click="Save();" class="btn single-small-btn"><i class="glyphicon glyphicon-floppy-disk"></i> {{Action}}</button>
        </span>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-4 control-label">Customer<sup>*</sup></label>
    <div class="col-sm-6 input-group">
        <input type="text" class="form-control" placeholder="Sales Org">
        <span class="input-group-btn">
            <button ng-click="Save();" class="btn single-small-btn"><i class="glyphicon glyphicon-floppy-disk"></i> {{Action}}</button>
        </span>
    </div>
</div>
<!-- #endregion -->
<div class="form-group">
    <label class="col-sm-4 control-label">Active</label>
    <div class="col-sm-8">
        <div class="checkbox-site">
            <label>
                <input type="checkbox" class="css-checkbox" ng-model="roleNew.Active">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
            </label>
        </div>
    </div>
</div>
<ul class="list-inline action-list">
    <li><button ng-click="removePfConfirmation(x);" class="btn-action tooltip-here" data-placement="top" title="Remove" tooltip><i class="glyphicon glyphicon-remove"></i></button></li>
</ul>

<!-- #region RoutinBudget/res.person -->
@using Library.Service.Enums;
<button ng-click="popUp('Employee','@Html.Raw(ResponsiblePerson.Employee.ToString())','EmployeeId')" class="btn" tabindex="10"><i class="glyphicon glyphicon-plus"></i> Add </button>
<!-- #endregion -->
<!-- #region check box and radio -->
<div class="radio">
    <label>
        <input type="radio" name="CompanyGroupLevel" ng-model="partyReportNew.CompanyGroupLevel" ng-click="CompanyHideShowFn();" value="CompanyLevel">
        <span class="cr"><i class="cr-icon"></i></span>
        123456789
    </label>
</div>

<div class="checkbox-site">
    <label>
        <input type="checkbox" ng-disabled="inventoryMaterialList.length>0" ng-model="productNew.IsNonCreditable">
        <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
    </label>
</div>
<!-- #endregion -->

<div id="div_PostingDate" class="form-group">
    <label class="col-sm-4 control-label">Posting Date<sup>*</sup></label>
    <div class="col-sm-8 show-message">
        <input required datepicker="checkPostingDate();getFiscalYearPeriod(voucher.PostingDate);" id="postingDate" type="text" name="PostingDate" ng-model="voucher.PostingDate" class="form-control" tabindex="1">
    </div>
</div>
<th ng-show="materialAttributeMasters.length>1">Sort</th>
<td ng-show="materialAttributeMasters.length>1">
    <span ng-show="!$first&&materialAttributeMasterNew.Id==null" ng-click="moveUp($index,materialAttributeMasters)"><i class="glyphicon glyphicon-triangle-top"></i></span>
    <div class="clearfix"></div>
    <span ng-show="!$last&&materialAttributeMasterNew.Id==null" ng-click="moveDown($index,materialAttributeMasters)"><i class="glyphicon glyphicon-triangle-bottom"></i></span>
</td>
<!-- #region Client Side Pagination -->
<tr dir-paginate="x in articleList|itemsPerPage:10" pagination-id="metaData.name + 'articleList'"></tr>
<dir-pagination-controls max-size="10"
                         pagination-id="metaData.name + 'articleList'"
                         direction-links="true"
                         boundary-links="true">
</dir-pagination-controls>
<!-- #endregion -->
<ul class="list-inline action-list">
    <li><button ng-click="details(x.Id)" class="btn-action tooltip-here" data-placement="top" title="Details" tooltip><i class="glyphicon glyphicon-list"></i></button></li>
</ul>

<div class="form-group" show-errors>
    <label class="col-sm-2 control-label">Process<sup>*</sup></label>
    <div class="col-sm-4 show-message">
        <div class="select-style">
            <select name="Process" ng-model="subProcessNew.ProcessId" class="col-sm-3 form-control" ng-change="getData();"
                    id="processId" ng-options="item.Value as item.Text for item in processList" required tabindex="1">
                <option value=""></option>
            </select>
        </div>
    </div>
</div>
<p class="msg-error" ng-show="compareTo">Confirm passwords did not match with password!</p>
<!--ng-options="item.Value as item.Text for item in partyPlantList| filter:{ PartyId: x.PartyId }:true"-->

<input type="checkbox" ng-model="x.Flag" ng-checked="x.Flag" ng-click="pushInTempList(x,$event,skillProcessList);">
<input type="checkbox" ng-model="x.Flag" ng-checked="x.Flag" ng-click="genericPushInTempList(x,$event,skillProcessList,'tempField', 'field' );">


<!--filterMultiple:{ ProcessId: processIds }:true-->